@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #0A0A0A;
  color: #E5E5E5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #000;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background: #22C55E;
  color: black;
}
